.project{
  position: absolute;
  transition: opacity 350ms;
  top:5%;
  left: 5%;
  width:90%;
}

.image-container{
  border: 1px solid rgb(150, 160, 180);
  line-height: 0;
  margin-bottom: 1em;
}

.image-container img{
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.project-name{
  margin-bottom: 0.5em;
}

.slick-slider{
  border-right: solid 1px rgb(150, 160, 180);
}

.slick-next, .slick-prev{
  width: 26px;
  height: 45px;
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
  z-index: 1;
}

.slick-arrow.slick-prev::before{
  content: url('../../assets/arrowLeft.svg');
}

.slick-arrow.slick-next::before{
  content: url('../../assets/arrowRight.svg');
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: white;
}