
.background-visualisation{
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgb(20, 30, 50);
  background-size: 5vw;
}

@media (max-width:900px){
  .background-visualisation{
    background-size: 10vw;
  }
}

@keyframes pulse {
  0% {
    transform: scaleY(0.8);
    opacity: 0.3;
  }
  60%{
    transform: scaleY(1);
    opacity: 0.7;
  }
  100%{
    transform: scaleY(0.8);    
    opacity: 0.3;
  }
}

.background-glow{
  transform-origin: bottom;
  animation-name: pulse; 
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(farthest-side at 90% 120%, rgba(50, 100, 140, 1), rgba(20, 30, 50, 0));
}