:root{
  --frame-background-color:rgba(40, 50, 70, 0.9);
  --frame-border-color:rgb(140, 150, 170);
}

.frame{
  position: relative;
  min-height: 80vh;
  width: 80%;
  background-color: var(--frame-background-color);
  border: 1pt solid var(--frame-border-color);
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

@define-mixin frame-edges-base {
  content: '';
  height: calc(100% + 2em);
  width: 4em;
  top: -1em;
  position: absolute;
  display: block;
  border: 1px solid white;
  opacity: 0.3;
}

.frame-edge-left{
  @mixin frame-edges-base;
  left: -1em;  
  border-right: none;  
}

.frame-edge-right{
  @mixin frame-edges-base;
  right: -1em;
  border-left: none;
}